body
{
	background: url(wesley-tingey-ZdOW9Qd8mQo-unsplash\ \(1\).jpg) center/cover;
    min-height: 100vh;
    margin: 0;
}
h1
{
	text-align: center;
	font-size: 3.5rem;
	font-family: Rye;
	color: rgb(0, 0, 0);
	
}
h2
{
	text-align: center;
	font-size: 2rem;
	font-family: UnifrakturMaguntia;
	color: rgb(0, 0, 0);
}
p
{
    font-size: 1.5rem;
    font-family: UnifrakturMaguntia;
    color: rgb(0, 0, 0);
    margin-left: 20px;
    margin-right: 20px;
}
th a {
    font-size: 3.5rem; /* Taille de police plus grande pour les liens dans les cellules th */
    /* Ajoutez d'autres styles au besoin */
}
h3
{
	text-align: center;
	font-size: 2rem;
	font-family: UnifrakturMaguntia;
	color: rgb(0, 0, 0);
}
main
{
    min-height: 500px;
    width: 90%;
    margin: 0 auto;
    padding-top: 1px;
    padding-bottom: 10px;
    border-radius: 20px;
}
.flexbox ul
{
    padding: 0;
    display: flex;
    justify-content: space-around;
}
.flexbox li
{
    list-style: none;
    height: 400px;
    width: 200px;
    margin: 10px;
    display: flex;
    align-items: end;
    justify-content: center;
}
img
{
    height: 325px;
    width: 225px;
}
a
{
    text-align: center;
    font-size: 1.2rem;
    font-family: UnifrakturMaguntia;
}
textarea
{
    margin: 20px;
    resize: none;
    width: 90%;
    font-size: 1.5rem;
    font-family: UnifrakturMaguntia;
    border-radius: 10px;
}
.btn-submit
{
    cursor: pointer;
    border-radius: 5px;
    background: white;
    transition: 0.2s;
    min-height: 50px;
    min-width: 100px;
    position: absolute;
    right: 50px;
    font-size: 2.25rem;
    text-align: center;
    list-style: none;
}
.btn-submit:hover
{
    background: rgb(160, 160, 160)
}